In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv("homeprices_banglore.csv")
df.sample(5)

    area  bedrooms   price
14  2250         3  101.00
1   2600         4  120.00
0   1056         2   39.07
15  1175         2   42.00
17  1540         3   60.00